<div>
    <h2 id="page-heading">
        <span jhiTranslate="rfpApp.rfpEventAttendence.home.title">Rfp Event Attendences</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-rfp-event-attendence" [routerLink]="['/rfp-event-attendence/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="rfpApp.rfpEventAttendence.home.createLabel">
            Create new Rfp Event Attendence
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="rfpEventAttendences">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="attendenceDate"><span jhiTranslate="rfpApp.rfpEventAttendence.attendenceDate">Attendence Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="rfpUser.id"><span jhiTranslate="rfpApp.rfpEventAttendence.rfpUser">Rfp User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="rfpEvent.id"><span jhiTranslate="rfpApp.rfpEventAttendence.rfpEvent">Rfp Event</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let rfpEventAttendence of rfpEventAttendences ;trackBy: trackId">
                <td><a [routerLink]="['/rfp-event-attendence', rfpEventAttendence.id, 'view' ]">{{rfpEventAttendence.id}}</a></td>
                <td>{{rfpEventAttendence.attendenceDate}}</td>
                <td>
                    <div *ngIf="rfpEventAttendence.rfpUser">
                        <a [routerLink]="['../rfp-user', rfpEventAttendence.rfpUser?.id, 'view' ]" >{{rfpEventAttendence.rfpUser?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="rfpEventAttendence.rfpEvent">
                        <a [routerLink]="['../rfp-event', rfpEventAttendence.rfpEvent?.id, 'view' ]" >{{rfpEventAttendence.rfpEvent?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/rfp-event-attendence', rfpEventAttendence.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/rfp-event-attendence', rfpEventAttendence.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'rfp-event-attendence/'+ rfpEventAttendence.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
